.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.npy
data
outputs
notes
notebooks
.cursor
.idea
.vscode
docs

!data/
!data/cafa-5-protein-function-prediction/
!data/cafa-5-protein-function-prediction/Train/
!data/cafa-5-protein-function-prediction/Train/train_terms.tsv
